<app-header titulo="refresher"></app-header>

<ion-content padding>
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Hala para actualizar"
            refreshingSpinner="circles"
            refreshingText="Actualizando...">
          </ion-refresher-content>
        </ion-refresher>
        
      <ion-list class="animated fadeIn fast">
          <ion-list-header>Hala para ver el refresher</ion-list-header>
          <ion-item  details 
                    *ngFor="let item of items; let i = index"
                    >
            <ion-label>Item {{i+1}}</ion-label>
          </ion-item>
      </ion-list>
</ion-content>
